<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>直播库</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0">
		<meta name="format-detection" content="telphone=no" />
		<link rel="stylesheet" type="text/css" href="../../static/font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/global.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/mb-mobile.css" />
		<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
	</head>

	<body>
		<header>
			<div class="nav">
				<a href="javascript:;" class="logo-img"></a>
			</div>
		</header>
		<footer>
			<div class="layout5Cube footer-list ">
				<ul>
					<li>
						<a href="javascript:;">
							<div class="layout footer-div border-T">
								<span class="iconfont icon-shijiebei"></span>
								<p>世界杯</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="layout footer-div border-T">
								<span class="iconfont icon-shijiebei"></span>
								<p>竞猜</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="layout footer-div border-T">
								<span class="iconfont icon-shijiebei"></span>
								<p>直播</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="layout footer-div border-T">
								<span class="iconfont icon-shijiebei"></span>
								<p>兑换中心</p>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<div class="layout footer-div border-T">
								<span class="iconfont icon-shijiebei"></span>
								<p>我的</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</footer>
		<div class="layout container">
			<div class="layout competition-main">
				<div class="layout banner-div">
					<div class="layout banner-img">
						<p style="background-image: url(../../static/img/banner1.png);"></p>
					</div>
				</div>
				<div class="layout4Cube category-list badge-white">
					<ul>
						<li>
							<a class="layout" href="javascript:;">
								<div class="layout category-div">
									<span class="iconfont icon-shijiebei"></span>
									<p>中超</p>
								</div>
							</a>
						</li>
						<li>
							<a class="layout" href="javascript:;">
								<div class="layout category-div">
									<span class="iconfont icon-shijiebei"></span>
									<p>西超</p>
								</div>
							</a>
						</li>
						<li>
							<a class="layout" href="javascript:;">
								<div class="layout category-div">
									<span class="iconfont icon-shijiebei"></span>
									<p>中甲</p>
								</div>
							</a>
						</li>
						<li>
							<a class="layout" href="javascript:;">
								<div class="layout category-div">
									<span class="iconfont icon-shijiebei"></span>
									<p>西甲</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="layout competition-list">
					<h2><p><span>05-16</span><span>今天</span></p></h2>
					<ul>
						<li>
							<a href="javascript:;">
								<div class="competition-div border-B">
									<div class="competition-time">08:30</div>
									<div class="competition-team">
										<div class="team-div team-court"><span class="team-grade">3</span><span class="team-img"></span>
											<p class="team-name">圣安东尼奥马刺队</p>
										</div>
										<div class="competition-message">
											<p class="competition-type">中超联赛</p>
											<span>vs</span>
											<p class="competition-state yjs">已结束</p>
										</div>
										<div class="team-div team-field"><span class="team-grade">3</span><span class="team-img"></span>
											<p class="team-name">休斯顿火箭</p>
										</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="competition-div border-B">
									<div class="competition-time">08:30</div>
									<div class="competition-team">
										<div class="team-div team-court"><span class="team-grade">4</span><span class="team-img"></span>
											<p class="team-name">波特兰开拓者</p>
										</div>
										<div class="competition-message">
											<p class="competition-type">中超联赛</p>
											<span>vs</span>
											<p class="competition-state zbz">直播中</p>
										</div>
										<div class="team-div team-field"><span class="team-grade">2</span><span class="team-img"></span>
											<p class="team-name">克里弗兰骑士</p>
										</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="competition-div border-B">
									<div class="competition-time">08:30</div>
									<div class="competition-team">
										<div class="team-div team-court"><span class="team-grade">8</span><span class="team-img"></span>
											<p class="team-name">波特兰开拓者</p>
										</div>
										<div class="competition-message">
											<p class="competition-type">中超联赛</p>
											<span>vs</span>
											<p class="competition-state wks">未开始</p>
										</div>
										<div class="team-div team-field"><span class="team-grade">0</span><span class="team-img"></span>
											<p class="team-name">克里弗兰骑士</p>
										</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript ">
	</script>

</html>