<div class="foot">
	<div class="top"> 
		<span class="J-return-top"></span> 
	</div>
	<p>努力做最好的体育直播平台 Email：476298514@qq.com</p>
</div>


<div style="display:none">
	<script src="https://s22.cnzz.com/z_stat.php?id=1273457492&web_id=1273457492" language="JavaScript"></script>
</div>

<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?487233874d09f61adb3af7214c1fc617";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
