
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Error_404_资源不存在</title>
	<style type="text/css">
	body{font-family: Verdana,Arial,Helvetica,sans-serif;font-size:14px;}
	p{color:#555;margin:10px 10px;}
	img {border:0px;margin-left:37%;}
	a{
		text-decoration: none;
		color: #d10000;
		
	}
	.back-index{
		width: 120px;
		text-align: center;
		border: 1px solid #d10000;
		padding: 8px;
		border-radius: 4px;
		color: #d10000;
		margin: 0 auto;
	}
	</style>
</head>
<body>
<div style="width: 100%;">
	<img src="/static/img/404.png" alt="" width="500" height="500">
</div>
<div class="back-index"><a href="http://<?.Weburl?>">返回网站首页</a></div>
</body>
</html>